<div class="card">
    <div class="card-header post">
        <div class="title">
            <span>
                <a href="/post/{{id}}" target="_blank">{{title}}</a>
            <span style="float:right">
                Posted by {{user.username}} on 
                {{format_date created_at}}
            </span>
            <br>
            {{!-- <span style="float:right">
                {{comments.length}} 
                {{format_plural "comment" comments.length}}
            </span> --}}
        </div>
        <div class = "card-body content">
          <p>{{content}}</p>
        </div>
    </div>
</div>